<%-include('../partials/header') %>
    <link rel="stylesheet" href="/account/myAcc.css">
    <link rel="stylesheet" href="/nav/nav.css">


    <%-include('../partials/nav') %> 
    <%-include('../partials/sidebar')%>




    <%-include('../partials/footer') %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
</body>
</html>