<%-include('../partials/header') %>
    <link rel="stylesheet" href="/nav/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/input.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/segment.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/header.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/container.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/site.min.css">
    <link rel="stylesheet" href="/reader-section/poem.css">


    <%-include('../partials/sidebar')%>
    <%-include('../partials/nav')%>
      <div id="header">
        <img id="" src="https://images.unsplash.com/photo-1596123068611-c89d922a0f0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1022&q=80" alt="">
        <h1>
           Welcome to the Reader's Corner
        </h1>
        <div id="choice">
          <!-- <div id="goto">Go To </div> -->
          <div class="ui buttons">onclick="window.location.href='#section1';"
            <button class="ui inverted standard button large" onclick="window.location.href='#section1';">Picks</button>
            <button class="ui inverted standard button large" onclick="window.location.href='#section2';">Poem's Section</button>
            <button class="ui inverted standard button large quoteSec" onclick="window.location.href='#section3';">Quote's Section</button>
          </div>
        </div>
        
      </div>
      

      <div id="blur">

        <div id="section1">
          <h1><i class="fas fa-star mr-2"></i>Our Picks</h1>
          <div class="row">

            <div class="col-lg-6">
              <div class="ui raised segment pick">
                 <h3 class="ui header block">Title</h3>
                 <p>
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam repellat, quasi quo suscipit dolorum facilis ea non quis nesciunt facere ab illum minima atque velit soluta nihil nemo sapiente iusto dicta! At iure atque minus vitae incidunt nulla ullam reiciendis repellendus soluta a tempore aspernatur excepturi, eius impedit non? Eum placeat, ipsa, quis, dolorem totam obcaecati tempora dolorum recusandae saepe cum illo. Repellat recusandae libero nulla laboriosam natus repudiandae nisi unde deserunt officia. Quia dignissimos molestias reprehenderit sequi quasi expedita soluta doloremque aliquam inventore ducimus doloribus ipsum libero porro sed ad eius placeat accusamus temporibus, accusantium ea veniam alias eos modi corrupti! Dolores consequuntur ea eaque corporis reiciendis vel reprehenderit quod sapiente et neque in animi sed iusto similique deserunt alias ipsum facilis aut ex, eveniet dicta nisi nobis asperiores! Reiciendis ratione beatae corrupti quisquam corporis non natus, ullam, blanditiis aspernatur officiis, sequi veritatis? Fugit, necessitatibus, quisquam consequuntur unde cupiditate natus, fuga soluta amet voluptas pariatur nostrum cum inventore provident! A animi saepe maxime tempora vero perspiciatis dolores atque in ad ducimus nihil, qui quas. Autem dolor assumenda, accusamus explicabo ipsa adipisci dolore id. Optio ab obcaecati commodi assumenda dicta suscipit autem maxime aliquid fugit dolor corrupti voluptatum natus exercitationem modi asperiores provident sed, totam nisi quia. Adipisci, quos. Sapiente velit iste sequi earum necessitatibus repellat nostrum itaque impedit tenetur esse in magnam, a voluptatum hic ipsum nobis architecto sed praesentium aliquid animi alias ad saepe. Numquam, saepe vero autem delectus iure quod fugiat unde nesciunt officiis ab qui praesentium sed incidunt ducimus excepturi aliquid dolore provident accusantium ut! Ducimus repellat architecto iusto cumque inventore, ex consectetur obcaecati, quibusdam, facilis officia eaque animi voluptatem quod in voluptas aut distinctio cupiditate suscipit. Iusto quasi eum odit perferendis accusantium ducimus, hic autem labore ea, vitae tenetur earum libero debitis! Aliquid, animi nobis.
                 </p>
              </div>
              
            </div>

            <div class="col-lg-6">
              <div class="ui raised segment pick">
                <h3 class="ui header block">Title</h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam repellat, quasi quo suscipit dolorum facilis ea non quis nesciunt facere ab illum minima atque velit soluta nihil nemo sapiente iusto dicta! At iure atque minus vitae incidunt nulla ullam reiciendis repellendus soluta a tempore aspernatur excepturi, eius impedit non? Eum placeat, ipsa, quis, dolorem totam obcaecati tempora dolorum recusandae saepe cum illo. Repellat recusandae libero nulla laboriosam natus repudiandae nisi unde deserunt officia. Quia dignissimos molestias reprehenderit sequi quasi expedita soluta doloremque aliquam inventore ducimus doloribus ipsum libero porro sed ad eius placeat accusamus temporibus, accusantium ea veniam alias eos modi corrupti! Dolores consequuntur ea eaque corporis reiciendis vel reprehenderit quod sapiente et neque in animi sed iusto similique deserunt alias ipsum facilis aut ex, eveniet dicta nisi nobis asperiores! Reiciendis ratione beatae corrupti quisquam corporis non natus, ullam, blanditiis aspernatur officiis, sequi veritatis? Fugit, necessitatibus, quisquam consequuntur unde cupiditate natus, fuga soluta amet voluptas pariatur nostrum cum inventore provident! A animi saepe maxime tempora vero perspiciatis dolores atque in ad ducimus nihil, qui quas. Autem dolor assumenda, accusamus explicabo ipsa adipisci dolore id. Optio ab obcaecati commodi assumenda dicta suscipit autem maxime aliquid fugit dolor corrupti voluptatum natus exercitationem modi asperiores provident sed, totam nisi quia. Adipisci, quos. Sapiente velit iste sequi earum necessitatibus repellat nostrum itaque impedit tenetur esse in magnam, a voluptatum hic ipsum nobis architecto sed praesentium aliquid animi alias ad saepe. Numquam, saepe vero autem delectus iure quod fugiat unde nesciunt officiis ab qui praesentium sed incidunt ducimus excepturi aliquid dolore provident accusantium ut! Ducimus repellat architecto iusto cumque inventore, ex consectetur obcaecati, quibusdam, facilis officia eaque animi voluptatem quod in voluptas aut distinctio cupiditate suscipit. Iusto quasi eum odit perferendis accusantium ducimus, hic autem labore ea, vitae tenetur earum libero debitis! Aliquid, animi nobis.
                </p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="ui raised segment pick">
                <h3 class="ui header block">Title</h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam repellat, quasi quo suscipit dolorum facilis ea non quis nesciunt facere ab illum minima atque velit soluta nihil nemo sapiente iusto dicta! At iure atque minus vitae incidunt nulla ullam reiciendis repellendus soluta a tempore aspernatur excepturi, eius impedit non? Eum placeat, ipsa, quis, dolorem totam obcaecati tempora dolorum recusandae saepe cum illo. Repellat recusandae libero nulla laboriosam natus repudiandae nisi unde deserunt officia. Quia dignissimos molestias reprehenderit sequi quasi expedita soluta doloremque aliquam inventore ducimus doloribus ipsum libero porro sed ad eius placeat accusamus temporibus, accusantium ea veniam alias eos modi corrupti! Dolores consequuntur ea eaque corporis reiciendis vel reprehenderit quod sapiente et neque in animi sed iusto similique deserunt alias ipsum facilis aut ex, eveniet dicta nisi nobis asperiores! Reiciendis ratione beatae corrupti quisquam corporis non natus, ullam, blanditiis aspernatur officiis, sequi veritatis? Fugit, necessitatibus, quisquam consequuntur unde cupiditate natus, fuga soluta amet voluptas pariatur nostrum cum inventore provident! A animi saepe maxime tempora vero perspiciatis dolores atque in ad ducimus nihil, qui quas. Autem dolor assumenda, accusamus explicabo ipsa adipisci dolore id. Optio ab obcaecati commodi assumenda dicta suscipit autem maxime aliquid fugit dolor corrupti voluptatum natus exercitationem modi asperiores provident sed, totam nisi quia. Adipisci, quos. Sapiente velit iste sequi earum necessitatibus repellat nostrum itaque impedit tenetur esse in magnam, a voluptatum hic ipsum nobis architecto sed praesentium aliquid animi alias ad saepe. Numquam, saepe vero autem delectus iure quod fugiat unde nesciunt officiis ab qui praesentium sed incidunt ducimus excepturi aliquid dolore provident accusantium ut! Ducimus repellat architecto iusto cumque inventore, ex consectetur obcaecati, quibusdam, facilis officia eaque animi voluptatem quod in voluptas aut distinctio cupiditate suscipit. Iusto quasi eum odit perferendis accusantium ducimus, hic autem labore ea, vitae tenetur earum libero debitis! Aliquid, animi nobis.
                </p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="ui raised segment pick">
                <h3 class="ui header block">Title</h3>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam repellat, quasi quo suscipit dolorum facilis ea non quis nesciunt facere ab illum minima atque velit soluta nihil nemo sapiente iusto dicta! At iure atque minus vitae incidunt nulla ullam reiciendis repellendus soluta a tempore aspernatur excepturi, eius impedit non? Eum placeat, ipsa, quis, dolorem totam obcaecati tempora dolorum recusandae saepe cum illo. Repellat recusandae libero nulla laboriosam natus repudiandae nisi unde deserunt officia. Quia dignissimos molestias reprehenderit sequi quasi expedita soluta doloremque aliquam inventore ducimus doloribus ipsum libero porro sed ad eius placeat accusamus temporibus, accusantium ea veniam alias eos modi corrupti! Dolores consequuntur ea eaque corporis reiciendis vel reprehenderit quod sapiente et neque in animi sed iusto similique deserunt alias ipsum facilis aut ex, eveniet dicta nisi nobis asperiores! Reiciendis ratione beatae corrupti quisquam corporis non natus, ullam, blanditiis aspernatur officiis, sequi veritatis? Fugit, necessitatibus, quisquam consequuntur unde cupiditate natus, fuga soluta amet voluptas pariatur nostrum cum inventore provident! A animi saepe maxime tempora vero perspiciatis dolores atque in ad ducimus nihil, qui quas. Autem dolor assumenda, accusamus explicabo ipsa adipisci dolore id. Optio ab obcaecati commodi assumenda dicta suscipit autem maxime aliquid fugit dolor corrupti voluptatum natus exercitationem modi asperiores provident sed, totam nisi quia. Adipisci, quos. Sapiente velit iste sequi earum necessitatibus repellat nostrum itaque impedit tenetur esse in magnam, a voluptatum hic ipsum nobis architecto sed praesentium aliquid animi alias ad saepe. Numquam, saepe vero autem delectus iure quod fugiat unde nesciunt officiis ab qui praesentium sed incidunt ducimus excepturi aliquid dolore provident accusantium ut! Ducimus repellat architecto iusto cumque inventore, ex consectetur obcaecati, quibusdam, facilis officia eaque animi voluptatem quod in voluptas aut distinctio cupiditate suscipit. Iusto quasi eum odit perferendis accusantium ducimus, hic autem labore ea, vitae tenetur earum libero debitis! Aliquid, animi nobis.
                </p>
              </div>
            </div>

          </div>
        </div>
      
        <div id="section2">
          <h1><i class="fas fa-feather-alt mr-2"></i>Poem's Section</h1>
          <div class="ui segment  main text" id="form">
            <div class="ui form">
              <select class="ui search dropdown" id="content" required onchange=display_title() >
                <option value="" disabled selected>Select Author Name</option>
              </select>
              <select class="ui search dropdown" id="title" required>
                <option value="" disabled selected>Select Poem Title</option>
              </select>
              
              <button class="ui button" type="submit" id="submit">Submit</button>
            </div>    
          </div>
          <div id="section" class="ui container">
            <div class="ui  segment raised main text" id="inner-section">
              <div class="ui top attached huge header center aligned block" id="poem_title">
                At A Solemn Musick<br>
                - By John Milton
              </div>
              <div class="ui attached segment" id="poem_cont">
                <p class="sample">
                Blest pair of Sirens, pledges of Heav'ns joy,<br>
                Sphear-born harmonious Sisters, Voice, and Vers,<br>
                Wed your divine sounds, and mixt power employ<br>
                Dead things with inbreath'd sense able to pierce,<br>
                And to our high-rais'd phantasie present,<br>
                That undisturbed Song of pure content,<br>
                Ay sung before the saphire-colour'd throne<br>
                To him that sits theron<br>
                With Saintly shout, and solemn Jubily,<br>
                Where the bright Seraphim in burning row<br>
                Their loud up-lifted Angel trumpets blow,<br>
                And the Cherubick host in thousand quires<br>
                Touch their immortal Harps of golden wires,<br>
                With those just Spirits that wear victorious Palms,<br>
                Hymns devout and holy Psalms<br>
                Singing everlastingly;<br>
                That we on Earth with undiscording voice<br>
                May rightly answer that melodious noise;<br>
                As  once we did, till disproportion'd sin<br>
                Jarr'd against natures chime, and with harsh din<br>
                The fair musick that all creatures made<br>
                To their great Lord, whose love their motion sway'd<br>
                In perfect Diapason, whilst they stood<br>
                In first obedience, and their state of good.<br>
                O may we soon again renew that Song,<br>
                And keep in tune with Heav'n, till God ere long<br>
                To his celestial consort us unite,<br>
                To live with him, and sing in endles morn of light.<br><br>

               
              </p>
              </div>
            </div> 
          </div>
        </div>

        <div id="section3">
          <h1><i class="fas fa-quote-left mr-2"></i>Quote's Section<i class="fas fa-quote-right ml-2"></i></h1>
        </div>

      </div>




      <%-include('../partials/footer') %>
    <script async src="/reader-section/poem.js"></script>
   
   


    </body>

    </html>