<%-include('../partials/header') %>
    <link rel="stylesheet" href="/index/aboutUs.css">
    <%-include('../partials/sidebar')%>

    <div class="bg"><img src="https://i.pinimg.com/736x/90/7f/13/907f135e046add9ddd187b49697ea527.jpg" alt=""></div>

    <div id="content">
        <h1><b>About Us</b></h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quo, beatae eum deserunt minus incidunt nobis ex voluptatibus, iure aut voluptatum modi laborum hic id explicabo quam reiciendis? Sequi similique expedita voluptate ipsam unde vitae id eaque ea quia itaque pariatur fugiat, consectetur quidem labore? Consectetur ducimus nulla asperiores atque praesentium harum natus pariatur temporibus dolores repellendus, vel inventore iusto ipsa similique laborum quos assumenda expedita labore provident quasi eveniet. Veniam repellendus suscipit est dicta quis beatae id voluptatum enim dolore quos a, temporibus vitae sit, fuga atque nobis! Voluptas, officiis nam obcaecati error magnam aut laudantium rem sequi omnis! Aut neque iusto repellat iure sapiente accusamus cumque quam in vel id fuga tempore nobis, necessitatibus quisquam? Temporibus suscipit inventore est sequi soluta ut labore, incidunt, necessitatibus laudantium vel alias similique totam assumenda quibusdam numquam, pariatur maiores minus dolore reiciendis itaque saepe rem? Quaerat, rem sed asperiores beatae facilis iusto ad est. Ad rerum, laborum dolore eaque quas nobis at incidunt quaerat assumenda neque itaque in sint earum voluptatem mollitia distinctio obcaecati delectus minima iste voluptates nesciunt est cumque deserunt. Perspiciatis, consectetur obcaecati at officiis necessitatibus debitis dolorum odio. Ducimus ad modi enim at delectus ipsam accusantium animi sequi quia consectetur! Earum voluptates maiores dolorum nemo impedit corrupti quidem assumenda quis nisi incidunt optio, accusamus labore eum consequatur accusantium enim. Dolorum quibusdam optio necessitatibus, aspernatur rerum maiores molestias ad maxime odio accusantium. Est quae tenetur sed eaque a expedita culpa, maxime tempora aperiam, praesentium, ea iusto porro dicta recusandae delectus veritatis placeat exercitationem reiciendis dolor aliquam ad. Pariatur accusantium odit quis autem iure, magni facilis repudiandae quidem earum cupiditate ab blanditiis repellat quam praesentium vitae consequuntur dolore beatae quia soluta? Ab nisi exercitationem laudantium et accusantium officia sit ipsa ad ex laborum, fugit eligendi ipsam neque, eius, tempore quidem? Tempora?
        </p>
    </div>
    <!-- <div  id="loader">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div> 
    </div> -->
    





    <%-include('../partials/footer') %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </body>

    </html>
